<a href="https://colab.research.google.com/github/Sandra-Cai/gamefi/blob/main/BAC_Practicing_Python_11_16_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working on the version of the notebook that was shared with the link **won't save your progression.** You should save a copy of this notebook in your own drive.

**Press File > Save a copy in Drive, and work on the document you saved on your Google Drive**

*Quick tip: You can run each code box with shift+enter on Mac or shift+enter on Windows after clicking on it.*

### **BAC Workshop: Practicing Python**

# 1. Print() Function

Prints any given message to the screen!

In [ ]:
#prints Hello, world!
print("Hello, world!")

In [ ]:
#prints the number 9
print(9)

Practice time! Print the name of your favorite NYC Park using the code box below

In [ ]:
#Your code goes here

# 2. Variable Types

## Strings

A string is a sequence of characters or letters

In [ ]:
#This is a string

my_name = "Eeshaan"

In [ ]:
#Let's see what 'my_name' outputs

print(my_name)

In [ ]:
#update the my_name variable with your name

my_name =

You can use variable names in a print function to print what is stored in the variable.

In [ ]:
print("My name is", my_name)

## Integers, Floats, and Mathematical Operations

Working with whole numbers, decimals, addition, subtraction, multiplication, division, to the power of, modulus, integer division

In [ ]:
#x is an integer

x = 9

In [ ]:
#assign your age to the 'my_age' variable and run the cell

my_age = 
print('My age is', my_age)
print(type(my_age))

In [ ]:
#floats have decimals

y = 9.2
print(type(y))

In [ ]:
#addition

print(7+2)

In [ ]:
#subtraction

print(7-2)

In [ ]:
#multiplication

print(7*2)

In [ ]:
#division

print(7/2)

In [ ]:
#integer division, notice how the operation returns rounds the division result to the nearest int

print(7//2)

In [ ]:
#modulo operator, shows the remainder of the division of the element before the operator by the element after the operator

print(7%2)

In [ ]:
#7 to the power of 2

print(7**2)

Practice 1: You decide to invest \$10,000 into Apple stock(\$AAPL). If the stock was \$40 when you bought it, how much will your investment be worth if the stock hits \$300?

In [ ]:
#your code goes here
#use only mathematical operations for this exercise

Practice 2: You order food from Chipotle. You get a chicken burrito bowl, \$11, and chips and guacamole, \$3.45. Add a 8.875% tax, and then add a 20% tip calculated on the pre-tax amount.

In [ ]:
#your code goes here
#use only mathematical operations for this exercise

# 3. Variables

Instead of cramming all the numbers into the print function, we can use variables that will represent each number. You can name your variable anything, but the name shouldn't start with a number. The name also can't include the @ sign or a **space**. Using variables makes updating calculations so much easier.

Practice 1: You decide to invest \$10,000 into Apple stock(\$AAPL). If the stock was \$40 when you bought it, how much will your investment be worth if the stock hits \$300?

In [ ]:
#try re-writing your code to include variables now

Practice 2: You order food from Chipotle. You get a chicken burrito bowl, \$11, and chips and guacamole, \$3.45. Add a 8.875% tax, and then add a 20% tip calculated on the pre-tax amount.

In [ ]:
# try re-writing your code to include variables now

Now, let's update our previous calculation for a new scenario. This time, we only get a steak burrito bowl instead costing $13, and decided that we would instead give a 15% tip.

In [ ]:
#write your code here

# 4. Booleans and If/Else Statements

Introducing another variable type, Boolean. A Boolean has two possible values: True, False

In [ ]:
a = True
b = False
print(a,b)

Comparison operators return a Boolean value after comparing two values:


Comparison Operator | Name
--- | ---
==| Equal
!= | Not Equal
< | Less Than
>| Greater Than
>= | Great Than or Equal To
<= | Less Than or Equal To

**Let's practice!**

In [ ]:
print(6==3)

In [ ]:
print(6!=3)

In [ ]:
print(6<3)

In [ ]:
print(6>3)

In [ ]:
print(6<=3)

In [ ]:
print(6>=3)

You can use logical operators to combine or manipulate conditions.

Logical Operator | How it works
---|---
and | returns True if both conditions are true
or| returns True if one or two conditions are true
not | reverses the condition

Name of the game: Guess the Boolean Expression

In [ ]:
(72 < 12) or (12 != 34)

In [ ]:
(7 <= 7) and (93 == 39)

In [ ]:
not (23>26)

In [ ]:
(192 != 0) and not (1 > 0)

In [ ]:
not (87 == 87) or ("NYU" == "NYU")

**Now, let's see how Booleans incorporate If/Else statements**

Here is the syntax for an if statement:

```
if (first condition): 
  code to be executed if the  condition is True

elif (second condition): 
  code to be executed if first condition if False but the second condition is True

else: 
  code to be executed if both of the conditions are False

```
**Important: notice how code sections to be run are indented below each statement**

In [ ]:
#let's write an example that checks if a number is even or odd

Practice 1: The minimum legal drinking age in the US is 21. Use an if statement to print whether your age is legally allowed to drink or not.

In [ ]:
#your code goes here

Practice 2: Every 4 years, we add an extra day to February, and we call those years leap years. We know that 2020 was a leap year. Print whether a given year is a leap year using an if statement.

In [ ]:
#your code goes here

# 5. Loops

### For Loops

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal. Traversing equates to "looking" at every element in a list in order (if it has an order). The frequency in which it traverses can also be controlled.

```
for random_new_variable_name in [some iterable object]:
  #do stuff 
```

In [ ]:
# let's write a program to print numbers 0 to 9

In [ ]:
#you can adjust the range as you wish-- you're in control!
for i in range(1,10): 
  print(i)

1
2
3
4
5
6
7
8
9

### While Loops

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

```
assign value to a variable
i.e. i = 0 or i = True
while variable [comparison operator] value:
  #do stuff
  #iterate through variable
```

In [ ]:
# let's write a program to print numbers 0 to 9

In [ ]:
# we can use while loops involving booleans as well
x = False

while x == False:
  if 3 < 6:
    x = True
print(x)

# 6. Data Structures

## Lists

https://www.w3schools.com/python/python_lists.asp

## Dictionaries

https://www.w3schools.com/python/python_dictionaries.asp|

## Sets

https://www.w3schools.com/python/python_sets.asp

## Tuples

https://www.w3schools.com/python/python_tuples.asp